<div class="row">
    <div class="col-xs-12" ng-init="vm.getCustomers()">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in vm.allCustomers">
                    <th scope="row">{{$index + 1}}</th>
                    <td>
                        <a ui-sref="customerDetails({id: c.id})">{{c.name}}</a>
                    </td>
                    <td>{{c.address}}</td>
                    <td>{{c.phone}}</td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>
