<div class="row">
    <div class="col-xs-12" ng-init="vm.getProducts()">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>NAME</th>
                    <th>PRICE</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in vm.allProducts">
                    <th scope="row">{{$index + 1}}</th>
                    <td>
                        <a ui-sref="productDetails({id: p.id})">{{p.name}}</a>
                    </td>
                    <td>{{p.price | currency:'$':2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
